<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Elimina un documento
	</summary>
	
	<log>false</log>

	<set-request-attribute id="help.msg" value="Online help for DELETE page..." />

	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>delete.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
	</output>

</config>
