<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Supervisados - Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>
	
	<log>false</log>
	<clear-session id="busca_encuesta.sql" />
	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="busca_encuesta.sql" />
	<set-request-attribute id="paging.pagesize" value="5" />
	
	<transaction>
		<classname>dinamica.GenericSearch</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="busca_encuesta.sql" source="sql" scope="session" on-empty-return="1" />
	</transaction>	
	
	<on-exit return-code="0" forward-to="${def:actionroot}/view"/>
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound"/>

</config>