<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Save new password
	</summary>

	<log>false</log>

	<set-request-attribute id="toolbar-title" value="Cambio de Contraseña" />

	<transaction>
		<classname>dinamica.security.ChangePassword</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.txt</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
	</output>

</config>
