<!--data grid-->
<table class="grid" style="width: 95%;">

	<!--toolbar-->
	<tr>
		<th colspan="2">
			<span style="color: gray; float: left;"></span> 
			<!--panel de control de navegacion--> 
			<span style="float: right;">${req:controls}</span> 
			<!--indicador de progreso-->
			<img id="grid-progress" style="float: right; display: none" src="${def:context}/images/progress.gif">
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th width="70%"><a href="javascript:onclick=sortBy('nombre_sector','query-sector.sql')" title="Haga CLICK para ordenar por esta columna">Tipo</a></th>
	</tr>

	<!--data-->
	<rows>
	<tr ${fld:_rowStyle} onmouseover="rowOn(this)"onmouseout="rowOff(this)" onclick="selectItem('${fld:sector_id}')">
		<td style="font-size: 9pt;" align="center">
		<input type="checkbox" name="vehicle" value="Bike">
		<span  id="${fld:sector_id}" name="${fld:sector_id}">${fld:nombre_sector}</span></td>
	</tr>
	</rows>
	
</table>